@import '@fontsource-variable/geist-mono';

:root {
	--font-body:
		Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Geist Mono Variable', monospace;
    --font-weight-light: 300;
    --font-weight-mid: 500;
    --font-weight-bold: 700;
    --color-grey: #F8F8F8;
	--color-dark-grey: #4B4B4B;
	--screen-xs: 0;
    --screen-sm: 576px;
    --screen-md: 768px;
    --screen-lg: 992px;
    --screen-xl: 1200px;
    --screen-xxl: 1440px;
    --screen-3xl: 1640px;
    --screen-4xl: 1920px;
}

.app {
	overflow: hidden;
}


body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	font-family: var(--font-mono);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}


input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}


.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.layoutGrid {
    display: grid;
    width: 100%;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    grid-row-gap: 0;
    row-gap: 0;
    grid-template-columns: repeat(10, 1fr);

    @media (min-width: 768px) {
        grid-template-columns: repeat(16, 1fr);
    }

    @media (min-width: 992px) {
        grid-template-columns: repeat(24, 1fr);
    }
}

